In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Data Cleaning:

Initial Assessment: Load the dataset and conduct a preliminary assessment to understand its structure and content.  
Handling Inconsistencies: Identify and address missing values, incorrect data types, and data inconsistencies.

In [4]:
pd.read_csv('globalterrorismdb_0718dist.csv', encoding='ISO-8859-1')

C:\Users\d1411\AppData\Local\Temp\ipykernel_21868\1343994942.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('globalterrorismdb_0718dist.csv', encoding='ISO-8859-1')

             eventid  iyear  imonth  iday approxdate  extended resolution  \
0       197000000001   1970       7     2        NaN         0        NaN
1       197000000002   1970       0     0        NaN         0        NaN
2       197001000001   1970       1     0        NaN         0        NaN
3       197001000002   1970       1     0        NaN         0        NaN
4       197001000003   1970       1     0        NaN         0        NaN
...              ...    ...     ...   ...        ...       ...        ...
181686  201712310022   2017      12    31        NaN         0        NaN
181687  201712310029   2017      12    31        NaN         0        NaN
181688  201712310030   2017      12    31        NaN         0        NaN
181689  201712310031   2017      12    31        NaN         0        NaN
181690  201712310032   2017      12    31        NaN         0        NaN

        country         country_txt  region  ... addnotes  \
0            58  Dominican Republic       2  ...      NaN
1           130              Mexico       1  ...      NaN
2           160         Philippines       5  ...      NaN
3            78              Greece       8  ...      NaN
4           101               Japan       4  ...      NaN
...         ...                 ...     ...  ...      ...
181686      182             Somalia      11  ...      NaN
181687      200               Syria      10  ...      NaN
181688      160         Philippines       5  ...      NaN
181689       92               India       6  ...      NaN
181690      160         Philippines       5  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Somalia: Al-Shabaab Militants Attack Army Che...
181687  "Putin's 'victory' in Syria has turned into a ...
181688  "Maguindanao clashes trap tribe members," Phil...
181689  "Trader escapes grenade attack in Imphal," Bus...
181690  "Security tightened in Cotabato following IED ...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 2 ...
181687  "Two Russian soldiers killed at Hmeymim base i...
181688                                                NaN
181689                                                NaN
181690  "Security tightened in Cotabato City," Manila ...

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 1 ...
181687  "Two Russian servicemen killed in Syria mortar...
181688                                                NaN
181689                                                NaN
181690                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
181686  START Primary Collection        0         0        0       0      NaN
181687  START Primary Collection       -9        -9        1       1      NaN
181688  START Primary Collection        0         0        0       0      NaN
181689  START Primary Collection       -9        -9        0      -9      NaN
181690  START Primary Collection       -9        -9        0      -9      NaN

[181691 rows x 135 columns]

In [5]:
# Load the dataset
df = pd.read_csv('globalterrorismdb_0718dist.csv', encoding='ISO-8859-1')

# Display the first few rows of the dataframe
print(df.head())

# Display basic information about the dataframe
print(df.info())

# Display summary statistics of the dataframe
print(df.describe())

C:\Users\d1411\AppData\Local\Temp\ipykernel_21868\2694064147.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('globalterrorismdb_0718dist.csv', encoding='ISO-8859-1')

        eventid  iyear  imonth  iday approxdate  extended resolution  country  \
0  197000000001   1970       7     2        NaN         0        NaN       58
1  197000000002   1970       0     0        NaN         0        NaN      130
2  197001000001   1970       1     0        NaN         0        NaN      160
3  197001000002   1970       1     0        NaN         0        NaN       78
4  197001000003   1970       1     0        NaN         0        NaN      101

          country_txt  region  ... addnotes scite1 scite2  scite3  dbsource  \
0  Dominican Republic       2  ...      NaN    NaN    NaN     NaN      PGIS
1              Mexico       1  ...      NaN    NaN    NaN     NaN      PGIS
2         Philippines       5  ...      NaN    NaN    NaN     NaN      PGIS
3              Greece       8  ...      NaN    NaN    NaN     NaN      PGIS
4               Japan       4  ...      NaN    NaN    NaN     NaN      PGIS

   INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0        0         0        0       0      NaN
1        0         1        1       1      NaN
2       -9        -9        1       1      NaN
3       -9        -9        1       1      NaN
4       -9        -9        1       1      NaN

[5 rows x 135 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB
None
            eventid          iyear         imonth           iday  \
count  1.816910e+05  181691.000000  181691.000000  181691.000000
mean   2.002705e+11    2002.638997       6.467277      15.505644
std    1.325957e+09      13.259430       3.388303       8.814045
min    1.970000e+11    1970.000000       0.000000       0.000000
25%    1.991021e+11    1991.000000       4.000000       8.000000
50%    2.009022e+11    2009.000000       6.000000      15.000000
75%    2.014081e+11    2014.000000       9.000000      23.000000
max    2.017123e+11    2017.000000      12.000000      31.000000

            extended        country         region       latitude  \
count  181691.000000  181691.000000  181691.000000  177135.000000
mean        0.045346     131.968501       7.160938      23.498343
std         0.208063     112.414535       2.933408      18.569242
min         0.000000       4.000000       1.000000     -53.154613
25%         0.000000      78.000000       5.000000      11.510046
50%         0.000000      98.000000       6.000000      31.467463
75%         0.000000     160.000000      10.000000      34.685087
max         1.000000    1004.000000      12.000000      74.633553

          longitude    specificity  ...     ransomamt   ransomamtus  \
count  1.771340e+05  181685.000000  ...  1.350000e+03  5.630000e+02
mean  -4.586957e+02       1.451452  ...  3.172530e+06  5.784865e+05
std    2.047790e+05       0.995430  ...  3.021157e+07  7.077924e+06
min   -8.618590e+07       1.000000  ... -9.900000e+01 -9.900000e+01
25%    4.545640e+00       1.000000  ...  0.000000e+00  0.000000e+00
50%    4.324651e+01       1.000000  ...  1.500000e+04  0.000000e+00
75%    6.871033e+01       1.000000  ...  4.000000e+05  0.000000e+00
max    1.793667e+02       5.000000  ...  1.000000e+09  1.320000e+08

         ransompaid  ransompaidus  hostkidoutcome     nreleased  \
count  7.740000e+02    552.000000    10991.000000  10400.000000
mean   7.179437e+05    240.378623        4.629242    -29.018269
std    1.014392e+07   2940.967293        2.035360     65.720119
min   -9.900000e+01    -99.000000        1.000000    -99.000000
25%   -9.900000e+01      0.000000        2.000000    -99.000000
50%    0.000000e+00      0.000000        4.000000      0.000000
75%    1.273412e+03      0.000000        7.000000      1.000000
max    2.750000e+08  48000.000000        7.000000   2769.000000

             INT_LOG       INT_IDEO       INT_MISC        INT_ANY
count  181691.000000  181691.000000  181691.000000  181691.000000
mean       -4.543731      -4.464398       0.090010      -3.945952
std         4.543547       4.637152       0.568457       4.691325
min        -9.000000      -9.000000      -9.000000      -9.000000
25%        -9.000000      -9.000000       0.000000      -9.000000
50%        -9.000000      -9.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

[8 rows x 77 columns]

In [9]:
# Split columns into numerical and categorical
numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

numerical_cols

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country', 'region',
       'latitude', 'longitude', 'specificity', 'vicinity', 'crit1', 'crit2',
       'crit3', 'doubtterr', 'alternative', 'multiple', 'success', 'suicide',
       'attacktype1', 'attacktype2', 'attacktype3', 'targtype1',
       'targsubtype1', 'natlty1', 'targtype2', 'targsubtype2', 'natlty2',
       'targtype3', 'targsubtype3', 'natlty3', 'guncertain1', 'guncertain2',
       'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed',
       'claimmode', 'claim2', 'claimmode2', 'claim3', 'claimmode3',
       'compclaim', 'weaptype1', 'weapsubtype1', 'weaptype2', 'weapsubtype2',
       'weaptype3', 'weapsubtype3', 'weaptype4', 'weapsubtype4', 'nkill',
       'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property',
       'propextent', 'propvalue', 'ishostkid', 'nhostkid', 'nhostkidus',
       'nhours', 'ndays', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid',
       'ransompaidus', 'hostkidoutcome', 'nreleased', 'INT_LOG', 'INT_IDEO',
       'INT_MISC', 'INT_ANY'],
      dtype='object')

In [10]:
# Plot the number of attacks per year
plt.figure(figsize=(12, 6))
sns.countplot(data=df, x='iyear')
plt.title('Number of Attacks per Year')
plt.xlabel('Year')
plt.ylabel('Number of Attacks')
plt.xticks(rotation=90)
plt.show()

In [11]:
# Plot the number of attacks per region
plt.figure(figsize=(12, 6))
sns.countplot(data=df, y='region_txt', order=df['region_txt'].value_counts().index)
plt.title('Number of Attacks per Region')
plt.xlabel('Number of Attacks')
plt.ylabel('Region')
plt.show()

In [12]:
# Plot the number of attacks per attack type
plt.figure(figsize=(12, 6))
sns.countplot(data=df, y='attacktype1_txt', order=df['attacktype1_txt'].value_counts().index)
plt.title('Number of Attacks per Attack Type')
plt.xlabel('Number of Attacks')
plt.ylabel('Attack Type')
plt.show()